    <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WEB322 Assignment 2</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" href="css/about.css" type="text/css">
    </head>
<main>
  <h3>Hello</h3>
  <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  <h4>First name: {{fname}}</h4>
  <h4>Last name: {{lname}}</h4>
  <h4>email: {{user}}</h4>
  <a href="/logout">Logout</a>
</main>
</body>
</html>


</html>
