<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WEB322 Assignment 2</title>

    <body>

        <main>
            {{{body}}}
        </main>

        
        
    </body>
</html>